@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-style: 700;
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-style: 400;
    font-weight: normal;
}